(
  # directory, where the rrd files will be stored; this can be absolute path,
  # relative path or undefined
  rrddir => 'rrd',

  # directory where images and HTML files will be created
  dstdir => 'html',

  # graph dimensions
  width => 800,
  height => 160,

  # interfaces and their aliases
  interfaces => {
    inet => 'enp2s0',
    lan => 'enp3s0',
    vpnwork => 'tun0',
  },

  # RRD tool database definition
  rrd_db => [
    step => 60,
    data_source => {
      name => 'tx_bytes',
      type => 'COUNTER'
    },
    data_source => {
      name => 'tx_pkts',
      type => 'COUNTER'
    },
    data_source => {
      name => 'rx_bytes',
      type => 'COUNTER'
    },
    data_source => {
      name => 'rx_pkts',
      type => 'COUNTER'
    },
    # 1 week at 1 minute interval
    archive => {
      cpoints => 1,
      rows => 7*24*60
    },
    # 1 month at 5 minute interval
    archive => {
      cpoints => 5,
      rows => 30*24*12,
      cfunc => 'AVERAGE'
    },
    # 1 year at 1 hour interval
    archive => {
      cpoints => 60,
      rows => 24*365,
      cfunc => 'AVERAGE'
    },
    # 10 years at 1 day interval
    archive => {
      cpoints => 1440,
      rows => 365*10,
      cfunc => 'AVERAGE'
    }
  ]
)
